langchain
ipykernel
openai
fastapi
langchain_groq
langchain_core
langchain_community
langserve
python-dotenv
streamlit
transformers
langchain_openai
streamlit
pypdf
google-generativeai
langchain_huggingface
sentence-transformers
langchain_google_genai
arxiv
wikipedia
duckdb
duckduckgo-search
validators
unstructured
nltk
youtube-transcript-api
pytube
numexpr
cassio
datasets
gradio
langchain_nvidia_ai_endpoints
crewai
crewai_tools
neo4j==5.14
bs4
langchain_experimental
lamini
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
duckdb
pandas
openai
langchain-groq
duckduckgo_search==5.3.1b1
pymupdf
arxiv
wikipedia
mysql-connector-python
SQLAlchemy
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr
huggingface_hub
sqlalchemy  
